@{
    ViewBag.Title = "Front End";
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

<div class="ui container">
    <form class="ui form cont-form-prova-JET">
        <div class="four fields df-afe">
            <div class="required field">
                <input id="name" type="text" name="name" placeholder="Nome: " />
            </div>
            <div class="required field">
                <input name="Email" id="email" type="text" data-validate="email" placeholder="E-mail: " val />
            </div>
            <span class="provaJET" id="provaJETname"></span>
            <span class="provaJET-email" id="provaJETemail"><b class="nishiishini"></b>&nbsp;<p></p></span>
        </div>
        <div class="four fields">
            <div class="required field">
                <input class="masked mask_phone" id="phone" data-validate="phone" type="tel" name="phone" placeholder="(00) 00000-0000" val />
            </div>
            <div class="required field">
                <input type="text" id="subject" placeholder="Assunto: " val />
            </div>
            <span class="provaJET" id="provaJETphone"></span>
            <span class="provaJET" id="provaJETsubject"></span>
        </div>
        <div class="two-fields text-area-div">
            <div class="required field half-arera-div">
                <textarea class="textAreaProvaJet" rows="4" type="text" id="message" placeholder="Mensagem: " val ></textarea>
            </div>
            <div class="message-container field">
                <span class="provaJET-text-area" id="provaJETmessage"></span>
            </div>
        </div>
        <button class="ui button btn-prova-jet" type="submit" id="btnSendProvaJET">Enviar</button>
        <button class="ui button btn-prova-jet" type="submit" id="btnEditProvaJET">Editar dados</button>
        <button class="ui button btn-prova-jet" type="submit" id="btnAttProvaJET">Atualizar</button>
    </form>
</div>